<div class="jumbotron jumbotron-fluid rounded bg-light p-2">
    <div class="container">
      <h1 class="display-4">v0.1</h1>
      <p class="lead">rev:1 first release</p>
      <hr class="my-2">
      <h3>基礎機能実装</h3>
      <ul class="list-group mb-3">
        <li class="list-group-item">・ユーザー関連</li>
        <li class="list-group-item">・チャンネル一覧</li>
        <li class="list-group-item">・チャンネル詳細</li>
        <li class="list-group-item">・投稿動画一覧</li>
        <li class="list-group-item">・投稿動画詳細</li>
      </ul>
      <a class="btn btn-primary btn-lg" href="/users/sign_in" role="button">login</a>
    </div>
</div>

<div class="m-4 p-4"></div>